/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  display: block;
  color: var(--text-color);
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.05em;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

a:hover {
  color: var(--link-color-hover);
}

ol {
  padding-inline-start: 20px;
}
